** Задание 1 **

Определите, какому фильму было выставлено больше всего оценок 5.0.

In [70]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
data = ratings[ratings.rating == 5.0]
rt = data['movieId'].value_counts()
idx = rt[rt == rt.max()].index.values
idx

array([318], dtype=int64)

In [71]:
movies = pd.read_csv('movies.csv')
movies[movies.movieId == idx[0]]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

** Задание 2 **

По данным файла power.csv (находится в архиве в материалах к лекции «Библиотека Pandas», файл “Дополнительные файлы для домашнего задания” посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [1]:
import pandas as pd

power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [2]:
filtered = power[ 
    ((power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia')) &
    ((power['category']==4) | (power['category']==12) | (power['category']==21)) &
    (power['year']>=2005) & (power['year']<=2010) & (power['quantity']>=0)
    ]
filtered['quantity'].sum()

240580.0

**  Задание 3  **

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [3]:
page_url = 'https://www.banki.ru/products/currency/cash/moskva/'
df = pd.read_html(page_url)

In [4]:
len(df)

2

In [6]:
print(df[1])

              Банк  Покупка  Продажа        Обновление
0       КАМКОМБАНК    86.41    86.49  02.08.2024 08:30
1      Банк Казани    86.00    87.09  02.08.2024 08:25
2              ПСБ    85.20    88.35  02.08.2024 08:29
3         Сбербанк    83.60    86.90  02.08.2024 08:30
4  Ингосстрах Банк    85.50    87.70  02.08.2024 08:32
5  Банк «Приморье»    86.00    88.00  02.08.2024 08:32
6     Агророс Банк     0.00     0.00  02.08.2024 08:32
7      Внешфинбанк    85.80    87.30  02.08.2024 08:31
8     Реалист Банк    86.20    87.30  02.08.2024 08:30
9          НС Банк    83.50    88.50  02.08.2024 08:29